body {
	background-color: #000000;
	color: #ffffff;
}

#main {
	margin: auto;
	display: table;
	border: 1px solid white;
}

#board {
	margin: auto;
	margin-left: 100px;
	display: inline-block;
	border: 1px solid white;

}

#next_p {
	display: inline-block;
	float: right;
	min-width: 100px;
}

.row {
}

.cell {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 1px;
}

